RedirectPermanent /2008/12/segunda-via-do-documento-do-carro-em.html /2008/12/segunda-via-documento-carro-sao-paulo/
RedirectPermanent /2012/12/jmeter-reports.html /2012/12/jmeter-reports/
RedirectPermanent /2012/10/java-jdk-15-no-os-x-lion-e-mountain-lion.html /2012/10/java-jdk-1.5-no-os-x-lion-e-mountain-lion/
