#
# Redirecionamentos
#
RedirectPermanent /2012/12/jmeter-reports.html /2012/12/jmeter-reports/
RedirectPermanent /2012/10/java-jdk-15-no-os-x-lion-e-mountain-lion.html /2012/10/java-jdk-1.5-no-os-x-lion-e-mountain-lion/
RedirectPermanent /2012/08/mongo-on-rails-no-mongodb-sao-paulo.html /2012/09/mongo-on-rails-mongodb-sao-paulo/
RedirectPermanent /2010/08/monitoracao-da-jvm-via-jmx-e-snmp.html /2012/05/monitoracao-jvm-com-jmx-e-snmp/
RedirectPermanent /2010/01/campus-party-2010-dia-1.html /2010/01/campus-party-2010-dia-1/
RedirectPermanent /2009/10/japan-linux-symposium-e-lancamento-do.html /2009/10/japan-linux-symposium-lancamento-windows7/
RedirectPermanent /2009/06/definicao-de-cloud-computing-pelo-nist.html /2009/06/definicao-de-cloud-computing-nist/
RedirectPermanent /2009/05/amazon-web-services-leva-educacao-as.html /2009/05/amazon-web-services-leva-a-educacao-as-nuvens/
RedirectPermanent /2009/03/ip-communications-2008.html /2009/03/ip-communications-2008/
RedirectPermanent /2008/12/segunda-via-do-documento-do-carro-em.html /2008/12/segunda-via-documento-carro-sao-paulo/
