---
layout: default
title: home
---

{% for post in paginator.posts %}
<div class="row">
  <div class="span2 hidden-phone">
    {% if post.image != nil %}
    <img src="/images/{{ post.image }}" />
    {% endif %}
  </div>
  <div class="span6">
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <div class="post_content">
      <blockquote>
        <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
        <small>{{ post.date | date: "%Y-%m-%d" }}</small>
      </blockquote>
    </div>
  </div>
</div>
{% endfor %}

{% include pagination.html %}
