<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">{{ site.brand }}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="">
            <a href="/">Home</a>
          </li>
          <li class="">
            <a href="/contato.html">Contato</a>
          </li>
        </ul>
      </div>
      {% include github_ribbon.html %}
    </div>
  </div>
</div>