---
layout: default
---
<!-- post header -->
<div class="page-header">
  <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
  <small class="muted">
    <time datetime="{{ page.date | date: "%Y-%m-%d %H:%M:%S %z" }}">
      {{ page.date | date: "%Y-%m-%d %H:%M %Z" }}
    </time> |
    {% include author_name.html %}
  </small>
</div>

<div class="post">
  {{ content }}
</div>

{% include facebook_div.html    %}
{% include facebook_script.html %}

<br/> <!-- uhhhh -->

{% include disqus_div.html      %}
{% include disqus_script.html   %}
