---
layout: default
---
{% assign post     = page %}

<!-- post header -->
<div class="page-header">
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <ul class="post-info">
    <li>{% include post_date.html %}</li>
    <li class="muted">·</li>
    <li>By {% include author_name.html %}</li>
  </ul>
</div>

<div class="post">
  {{ content }}
</div>

{% include facebook_div.html    %}
{% include facebook_script.html %}

<br/> <!-- uhhhh -->

{% include disqus_div.html      %}
{% include disqus_script.html   %}

<hr class="bs-docs-separator">

<div class="row">
  <div class="span8">
    {% if post.previous != nil %}
    <a href="{{ post.previous.url }}">
      <span class="pull-left"><i class="icon-backward"></i> {{ post.previous.title }}</span>
    </a>
    {% endif %}
    {% if post.next != nil %}
    <a href="{{ post.next.url }}">
      <span class="pull-right">{{ post.next.title }} <i class="icon-forward"></i></span>
    </a>
    {% endif %}
  </div>
</div>
